<div class="row">
    <div class="col-3">
        <div class="list-group">
            <a 
            routerLink="/"
            class="list-group-item list-group-item-action" 
            [class.active]="!category"
            >
                All Categories
            </a>
            <a 
            routerLink="/"
            [queryParams]="{ category: categorie.key}"
            class="list-group-item list-group-item-action" 
            *ngFor="let categorie of categories$ | async"
            [class.active]="category===categorie.key"
            >
                {{categorie.data.name}}
            </a>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let product of filteredProducts; let i = index">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" [src]="product.data.imageUrl">
                        <div class="card-body">
                            <h5 class="card-title">{{product.data.title}}</h5>
                            <p class="card-text">{{product.data.price | currency:'USD':true}}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div *ngIf="(i+1) % 2 === 0 " class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>